*{
  font-family: 'Kiwi Maru', serif;
}
button{
  background-color: #668beb;
  color: #ffffff;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
}
button:hover {
  background: #380faf;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #668beb;
}
a{
  text-decoration: none;
  color: #ffffff;
}
#answer{
  font-size: large;
}
textarea{
  font-size: large;
}
#content{
  margin: 32px;
}
#question{
  width:70px;
  height:70px;
  background: yellow;
  border-radius:100%;
  color: #000000
}
#title{
  border-left: 8px solid #4abdac;
}
#myform{
  width:300px;
  background-color: #66ebbb;
  color: #000000;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border-style: solid;
  border-color: rgba(#000000, 0.41);
  border-radius: 10px;
}
#save{
  background-color: #66ebbb;
  color: #000000;
}
form .upload::before {
       display: inline-block;
       content: '';
       background: #369 url(icon-upload-alt.png) no-repeat;
       background-origin: content-box;
       background-size: contain;
       vertical-align: middle;
       padding: 4px;
       border-radius: 4px;
       width: 1em;
       height: 1em;
}
form input[disabled] {
       -webkit-appearance: none;
       font-size: 100%;
       padding: 2px;
       border-radius: 4px;
       border: solid 1px #999;
       background: #eee;
       opacity: 1;
       width: 240px;
}
form .upload {
      display: inline-block;
}
form .upload input[type="file"] {
      display: none;
}
form .upload input[disabled] {
      pointer-events: none;
}
